{
    "swagger": "2.0",
    "info": {
        "description": "A simple RESTful API for student information",
        "version": "1.0.0",
        "title": "Student Info"
    },
    "host": "student-info.apps.cac.preview.pcf.manulife.com",
    "basePath": "/v1",
    "tags": [
        {
            "name": "student",
            "description": "information about a student"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/student/{id}": {
            "get": {
                "tags": [
                    "student"
                ],
                "summary": "get information about a student",
                "operationId": "getStudent",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the student to retrieve",
                        "required": true,
                        "type": "integer",
                        "format": "Int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The student with the given ID",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Student"
                            }
                        }
                    },
                    "405": {
                        "description": "Invalid input",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ApiResponse"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Student": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "Int64"
                },
                "name": {
                    "type": "string"
                },
                "dob": {
                    "type": "string",
                    "format": "date"
                },
                "program": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                }
            }
        },
        "ApiResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32",
                    "example": 400
                },
                "type": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}
